:root {
    font-size: 16px;
    font-family: 'Robot', sans-serif;
    letter-spacing: .05rem;

    box-sizing: border-box;

    --primary-color: #0284c7;
    --secondary-color: #facc15;

    --light-grey: #eaeaea;

    --text-color-grey: #717171;
    --heading-text-color: #3d3d3d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: 150px 2fr / 250px 2fr 300px;
    height: 100vh;
}

header {
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: 2fr 1fr;
    z-index: 1;
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.4);
}

form {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.search-label {
    cursor: pointer;
}

.search-label svg {
    width: 24px;
}

.search-box {
    flex: 1;
    height: 2rem;
    background-color: var(--light-grey);
    border: none;
    border-radius: 20px;
}

.greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.greeting p {
    flex: 1;
    font-size: 14px;
}

strong {
    font-size: 18px;
}

.greeting img {
    width: 64px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0 2rem;
}

.user-info svg {
    width: 24px;
    cursor: pointer;
}

.user-info img {
    width: 48px;
    height: auto;
}

.user-info p {
    font-weight: 700;
}

.user-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem 2rem;
}

.user-actions button {
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 84px;
    height: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.sidebar {
    background-color: var(--primary-color);
    color: white;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 4rem;
}

.sidebar svg {
    width: 24px;
    fill: white;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding-top: 1rem;
}

.title svg {
    width: 48px;
}

ul {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

main {
    background-color: var(--light-grey);
    grid-area: 2 / 2 / 3 / 3;
    padding: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    font-size: 12px;
    color: var(--text-color-grey);
    display: grid;
    grid-template-rows: 25px 2fr 1fr;
    gap: .5rem;
    padding: 1rem 1rem;

    background-color: white;
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.4);
    border-left: 8px solid var(--secondary-color);
    border-radius: 10px;
}

.controls {
    display: flex;
    gap: 1rem;

    justify-self: end;
}

.card h3 {
    align-self: end;
    color: var(--heading-text-color);
}

.controls svg {
    width: 24px;
    fill: var(--text-color-grey);
}

.trends {
    background-color: var(--light-grey);
    padding: 1rem 2rem 1rem .5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.flex-item {
    flex: 1;
    
    display: flex;
    flex-direction: column;
}

.announcements {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.4);
    font-size: 10px;
    color: var(--text-color-grey);
    flex: 1;
    padding: 0 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.announcement h3 {
    color: var(--heading-text-color);
}

.announcement p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.trending {
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.4);
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1rem;
}

.trending img {
    width: 48px;
    height: auto;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.new-line {
    color: var(--text-color-grey);
}